{% extends "movie/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  <!-- Sign up form -->

 <div class="content">
    <div class="register">
        <div class="col-md-6 login-left">
            <h3>New Customers</h3>
            <p>By creating an account with our store, you will be able to move through the checkout process faster,
                store multiple shipping addresses, view and track your orders in your account and more.</p>
            <a class="acount-btn" href="{% url 'register' %}">Create an Account</a>
        </div>
        <div class="col-md-6 login-right">
            <h3>Registered Customers</h3>
            <p>If you have an account with us, please log in.</p>
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <div class="card-body">
                <form method="POST" >
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Log in</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="acount-btn" type="submit">Login</button>
                    </div>
                </form>

                <!-- Sign in form -->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
{% endblock content %}
